<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top eshop deals: ❤️ {{wishListedItems.length}} / 👁️ {{notOldInterestingCount}} ({{interestingItems.length}})</title>
  {{!-- gmail supports basic styling in style tags: https://developers.google.com/gmail/design/css --}}
  <style>
    body { margin: 0; padding: 0; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQImWO4fufYfxiev3v5fwZkzvU7xyACMM71O8f+MyBzrt859h8AG4k1oSgxi8kAAAAASUVORK5CYII=) repeat; }
    body, td { font-family: Arial, Helvetica, sans-serif; color: #474740; }
    table { border-collapse: collapse; border: 1px solid #045762; max-width: 575px; margin: 0 auto; box-shadow: 0 0 10px 3px #9BA191; }
    td { border-bottom: 1px solid #045762; border-left: 1px solid #045762; padding: 0; vertical-align: top; font-size: 16px; background-color: #f3f2da; }
    img { margin: 0; padding: 0; display: block; }
    h2 { margin: 0; padding: 5px; font-size: 20px; text-transform: uppercase; color: #f3f2da; }
    p { margin: 0; padding: 0 0 5px 0; }
    footer { font-size: 12px; padding: 5px; margin: 0 auto; text-align: center; font-style: italic; }
    a { display: block; max-width: 350px; padding: 2px; color: #474740; padding-bottom: 5px; }
    a:hover { text-decoration: none; }
    .subTitleCell { background-color: #A1A091; }
    .textCell { padding: 0 5px 0 5px; }
    .mustBuyCell { background-color: #F2E3DA; }
    .buyMe { font-weight: bold; display: inline-block; padding: 2px 5px; background-color: rgba(255,255,255,.5); border-radius: 50%; }
    .wishListIcon { background-color: #ea97ad; box-shadow: inset 0 0 6px rgba(0, 0, 0, .5); vertical-align: middle; }
    .interestingItemIcon { background-color: #4e8d7c; box-shadow: inset 0 0 6px rgba(0, 0, 0, .5); vertical-align: middle; }
    .priceDiscounted { font-weight: bold; display: inline-block; padding-right: 10px; }
    .endDate, .endDateFormatted, .priceRegular, .itemSum { opacity: .5; }
    tr.old:not(:hover) td { opacity: .3; }
    tr.old .wishListIcon, tr.old .interestingItemIcon, tr.old img { mix-blend-mode: luminosity; }
  </style>
</head>
<body>
  {{!-- inline partial --}}
  {{#* inline "renderItem"}}
    <td><img class="heroBanner" src="{{banner}}" alt="{{name}}" width="192" height="108"></td>
    <td class="textCell {{#if mustBuy}}mustBuyCell{{/if}}">
      <a href="{{moreInfoUrl}}" target="_blank">{{name}}</a>
      <p>
        <span class="priceRegular">{{price.regular.amountFormatted}}</span>
        ⇢
        <span class="priceDiscounted">{{price.discounted.amountFormatted}}</span>
        {{#if mustBuy}}<span class="buyMe">$</span>{{/if}}
        {{#if bargainBin}}<span class="buyMe">$</span>{{/if}}
      </p>
      <p class="endDate">
        until {{price.discounted.endDatePretty}}
        <span class="endDateFormatted">({{price.discounted.endDateFormatted}})</span>
      </p>
    </td>
  {{/inline}}

  <table>
    {{#if wishListedItems.length}}
      <tbody>
        <tr>
          <td colspan="3" class="subTitleCell"><h2>wishlist</h2></td>
        </tr>
        {{#each wishListedItems}}
          <tr>
            <td class="wishListIcon">❤️</td>
            {{> renderItem}}
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
    {{#if interestingItems.length}}
      <tbody>
        <tr>
          <td colspan="3" class="subTitleCell">
            {{#if notOldInterestingCount}}
              <h2>
                interesting
                <span class="itemSum">({{notOldInterestingCount}})</span>
              </h2>
            {{else}}
              <h2>nothing interesting since last time</h2>
            {{/if}}
          </td>
        </tr>
        {{#each interestingItems}}
          <tr class="{{#if old}}old{{/if}}">
            <td class="interestingItemIcon">👁️</td>
            {{> renderItem}}
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>
  <footer>
    rendered on {{runDate}}
  </footer>
</body>
</html>
